spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://0.0.0.0:3307/morningbees?useSSL=false
    username: root
    password: mysql
  jpa:
    hibernate:
      ddl-auto: create-drop
    generate-ddl: false
    database: mysql
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL5Dialect

# spring boot의 기본 properties
server.error:
  include-exception: false
  include-stacktrace: never # 오류 응답에 stacktrace 내용을 포함할 지 여부
#  path: '/error' # 오류 응답을 처리할 Handler의 경로
#  whitelabel.enabled: true # 서버 오류 발생시 브라우저에 보여줄 기본 페이지 생성 여부