commands:
  101-00-enable-tw-reuse:
    command: |
      if [ "$(cat /proc/sys/net/ipv4/tcp_tw_reuse)" != "1" ]; then
          echo "net.ipv4.tcp_tw_reuse = 1" >> /etc/sysctl.conf && sysctl -p
      fi
  101-01-change-somaxconn:
    command: |
      if [ "$(cat /proc/sys/net/core/somaxconn)" != "8192" ]; then
          echo "net.core.somaxconn = 8192" >> /etc/sysctl.conf && sysctl -p
      fi
